In [1]:
import pandas as pd
sql_records_df = pd.read_csv("pandas_df.csv")

In [2]:
sql_records_df

,full_url,event_time,hostname
0,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.32
1,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.31
2,/details.php?prod=5&type=2&OUOT=7916%20AND%201...,1.680093e+09,10.0.2.31
3,/details.php?prod=5&type=2,1.680093e+09,10.0.2.31
4,/details.php?prod=3196&type=2,1.680093e+09,10.0.2.31
...,...,...,...
3965,/details.php?prod=5&type=-1883%27%20IN%20BOOLE...,1.680093e+09,10.0.2.31
3966,/details.php?prod=5&type=-5655%27%20IN%20BOOLE...,1.680093e+09,10.0.2.31
3967,/details.php?prod=5&type=-6048%27%20IN%20BOOLE...,1.680093e+09,10.0.2.31
3968,/details.php?prod=-9043%20UNION%20ALL%20SELECT...,1.680093e+09,10.0.2.31
3969,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.32

In [3]:
from urllib.parse import unquote, urlparse, parse_qs

def url_decoder(full_url):
    full_url = unquote(full_url)
    return full_url

sql_records_df['parsed_url'] = sql_records_df['full_url'].apply(url_decoder)

In [4]:
sql_records_df = sql_records_df.reindex(columns=['full_url','parsed_url','event_time', 'hostname'])

In [5]:
sql_records_df

,full_url,parsed_url,event_time,hostname
0,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.32
1,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.31
2,/details.php?prod=5&type=2&OUOT=7916%20AND%201...,/details.php?prod=5&type=2&OUOT=7916 AND 1=1 U...,1.680093e+09,10.0.2.31
3,/details.php?prod=5&type=2,/details.php?prod=5&type=2,1.680093e+09,10.0.2.31
4,/details.php?prod=3196&type=2,/details.php?prod=3196&type=2,1.680093e+09,10.0.2.31
...,...,...,...,...
3965,/details.php?prod=5&type=-1883%27%20IN%20BOOLE...,/details.php?prod=5&type=-1883' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31
3966,/details.php?prod=5&type=-5655%27%20IN%20BOOLE...,/details.php?prod=5&type=-5655' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31
3967,/details.php?prod=5&type=-6048%27%20IN%20BOOLE...,/details.php?prod=5&type=-6048' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31
3968,/details.php?prod=-9043%20UNION%20ALL%20SELECT...,/details.php?prod=-9043 UNION ALL SELECT CONCA...,1.680093e+09,10.0.2.31
3969,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.32

In [28]:
import requests
from bs4 import BeautifulSoup

# scraping keywordow
sql_keywords = []

url = "https://www.w3schools.com/sql/sql_ref_keywords.asp"
resp = requests.get(url)
print(resp.status_code)

soup = BeautifulSoup(resp.text, 'html.parser')
for keyword in soup.findAll('td'):
    keyword = keyword.find('a')
    if(keyword!=None):
        sql_keywords.append(keyword.text)

KeyboardInterrupt:

In [6]:
import re

sql_keywords_counter = []

for record in sql_records_df["parsed_url"]:
    tmp = 0
    for keyword in sql_keywords:
        if(re.search(keyword,record)):
            tmp = tmp +1
    sql_keywords_counter.append(tmp)

sql_records_df["sql_keyword"] = sql_keywords_counter

NameError: name 'sql_keywords' is not defined

In [ ]:
sql_records_df

,full_url,parsed_url,event_time,hostname,sql_keyword
0,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.32,0
1,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.31,0
2,/details.php?prod=5&type=2&OUOT=7916%20AND%201...,/details.php?prod=5&type=2&OUOT=7916 AND 1=1 U...,1.680093e+09,10.0.2.31,0
3,/details.php?prod=5&type=2,/details.php?prod=5&type=2,1.680093e+09,10.0.2.31,0
4,/details.php?prod=3196&type=2,/details.php?prod=3196&type=2,1.680093e+09,10.0.2.31,0
...,...,...,...,...,...
3965,/details.php?prod=5&type=-1883%27%20IN%20BOOLE...,/details.php?prod=5&type=-1883' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31,0
3966,/details.php?prod=5&type=-5655%27%20IN%20BOOLE...,/details.php?prod=5&type=-5655' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31,0
3967,/details.php?prod=5&type=-6048%27%20IN%20BOOLE...,/details.php?prod=5&type=-6048' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31,0
3968,/details.php?prod=-9043%20UNION%20ALL%20SELECT...,/details.php?prod=-9043 UNION ALL SELECT CONCA...,1.680093e+09,10.0.2.31,0
3969,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.32,0

In [7]:
params_length = []

for record in sql_records_df["parsed_url"]:
    tmp = 0
    params = []

    for i in parse_qs(record).values():
       # print(str(i))
       # print(re.search(r"\['(\b.*)'\]",str(i)).group(1))
       # params.append(re.search(r"\['(\b.*)'\]",str(i)).group(1))
        params.append(str(i)[2:-2])
    
    for param in params:
        tmp = tmp + len((param))

    params_length.append(tmp)
  
sql_records_df["params_length"] = params_length

In [8]:
sql_records_df

,full_url,parsed_url,event_time,hostname,params_length
0,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.32,2
1,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.31,2
2,/details.php?prod=5&type=2&OUOT=7916%20AND%201...,/details.php?prod=5&type=2&OUOT=7916 AND 1=1 U...,1.680093e+09,10.0.2.31,178
3,/details.php?prod=5&type=2,/details.php?prod=5&type=2,1.680093e+09,10.0.2.31,2
4,/details.php?prod=3196&type=2,/details.php?prod=3196&type=2,1.680093e+09,10.0.2.31,5
...,...,...,...,...,...
3965,/details.php?prod=5&type=-1883%27%20IN%20BOOLE...,/details.php?prod=5&type=-1883' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31,82
3966,/details.php?prod=5&type=-5655%27%20IN%20BOOLE...,/details.php?prod=5&type=-5655' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31,87
3967,/details.php?prod=5&type=-6048%27%20IN%20BOOLE...,/details.php?prod=5&type=-6048' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31,92
3968,/details.php?prod=-9043%20UNION%20ALL%20SELECT...,/details.php?prod=-9043 UNION ALL SELECT CONCA...,1.680093e+09,10.0.2.31,149
3969,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.32,2

In [9]:
#sql_records_df.at[0, "hostname"] = "10.0.2.32"
sql_records_df["request_volume"] = "NaN"
print(sql_records_df)

                                               full_url  \
0                          /details.php?pr\tod=5&type=2
1                          /details.php?pr\tod=5&type=2
2     /details.php?prod=5&type=2&OUOT=7916%20AND%201...
3                            /details.php?prod=5&type=2
4                         /details.php?prod=3196&type=2
...                                                 ...
3965  /details.php?prod=5&type=-1883%27%20IN%20BOOLE...
3966  /details.php?prod=5&type=-5655%27%20IN%20BOOLE...
3967  /details.php?prod=5&type=-6048%27%20IN%20BOOLE...
3968  /details.php?prod=-9043%20UNION%20ALL%20SELECT...
3969                       /details.php?pr\tod=5&type=2

                                             parsed_url    event_time  \
0                          /details.php?pr\tod=5&type=2  1.680093e+09
1                          /details.php?pr\tod=5&type=2  1.680093e+09
2     /details.php?prod=5&type=2&OUOT=7916 AND 1=1 U...  1.680093e+09
3                            /details.php?prod=5&type=2  1.680093e+09
4                         /details.php?prod=3196&type=2  1.680093e+09
...                                                 ...           ...
3965  /details.php?prod=5&type=-1883' IN BOOLEAN MOD...  1.680093e+09
3966  /details.php?prod=5&type=-5655' IN BOOLEAN MOD...  1.680093e+09
3967  /details.php?prod=5&type=-6048' IN BOOLEAN MOD...  1.680093e+09
3968  /details.php?prod=-9043 UNION ALL SELECT CONCA...  1.680093e+09
3969                       /details.php?pr\tod=5&type=2  1.680093e+09

       hostname  params_length request_volume
0     10.0.2.32              2            NaN
1     10.0.2.31              2            NaN
2     10.0.2.31            178            NaN
3     10.0.2.31              2            NaN
4     10.0.2.31              5            NaN
...         ...            ...            ...
3965  10.0.2.31             82            NaN
3966  10.0.2.31             87            NaN
3967  10.0.2.31             92            NaN
3968  10.0.2.31            149            NaN
3969  10.0.2.32              2            NaN

[3970 rows x 6 columns]

In [16]:
indexes = []
base_event_time = 0
period = 10 # value in seconds

hostname_list = sql_records_df.hostname.unique()

for hostname in hostname_list:
    base_event_time = sql_records_df.loc[sql_records_df["hostname"] == hostname]["event_time"].to_list()[0]

    for time in sql_records_df.loc[sql_records_df["hostname"] == hostname]["event_time"].to_list():
        if(time < (float(base_event_time) + float(period))):
            indexes.append(sql_records_df.loc[(sql_records_df["hostname"] == hostname) & (sql_records_df["event_time"] == time)].index[0])  
                   
        else:
            #print(indexes)
            for index in indexes:
                sql_records_df.at[index , "request_volume"] = len(indexes)/period 
            
            indexes = []
            indexes.append(sql_records_df.loc[(sql_records_df["hostname"] == hostname) & (sql_records_df["event_time"] == time)].index[0])  
            base_event_time =  time
            #print(f'{base_event_time} --  {indexes}')
            
    for index in indexes:
        sql_records_df.at[index , "request_volume"] = len(indexes)/period
    indexes = []

In [17]:
sql_records_df

,full_url,parsed_url,event_time,hostname,params_length,request_volume
0,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.32,2,0.1
1,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.31,2,4.2
2,/details.php?prod=5&type=2&OUOT=7916%20AND%201...,/details.php?prod=5&type=2&OUOT=7916 AND 1=1 U...,1.680093e+09,10.0.2.31,178,4.2
3,/details.php?prod=5&type=2,/details.php?prod=5&type=2,1.680093e+09,10.0.2.31,2,4.2
4,/details.php?prod=3196&type=2,/details.php?prod=3196&type=2,1.680093e+09,10.0.2.31,5,4.2
...,...,...,...,...,...,...
3965,/details.php?prod=5&type=-1883%27%20IN%20BOOLE...,/details.php?prod=5&type=-1883' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31,82,170.3
3966,/details.php?prod=5&type=-5655%27%20IN%20BOOLE...,/details.php?prod=5&type=-5655' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31,87,170.3
3967,/details.php?prod=5&type=-6048%27%20IN%20BOOLE...,/details.php?prod=5&type=-6048' IN BOOLEAN MOD...,1.680093e+09,10.0.2.31,92,170.3
3968,/details.php?prod=-9043%20UNION%20ALL%20SELECT...,/details.php?prod=-9043 UNION ALL SELECT CONCA...,1.680093e+09,10.0.2.31,149,170.3
3969,/details.php?pr\tod=5&type=2,/details.php?pr\tod=5&type=2,1.680093e+09,10.0.2.32,2,0.1

# Metryki wykorzystane w analizie:

 1. znaki specialne (' ; : } -- =) - stosunek znakw normalnych i tych innych
 2. zrobic algorytm liczacy ilosc zapytan na minute

- ogarnąć żeby filtr nie był case sensitive (jes tflaga w SNORT)
- zrobić stosunek znaków wszystkich do specialnych (zdefiniować tą listę znaków specialnych) 
- wykryć wykorzystanie komentarza 
- wykryć zamknięcie parametru (nawiasy)
- analiza długości parametrów (=<*>&)

czy dla każdego wyrażenie robimy: kolumne binarną/robimy counter wyrażeń specialnych/ counter poszczególnych słów kluczowych?

## Lista skanerów SQLinjection:
- SQLMap – Automatic SQL injection and database 
- takeover tool
- jSQL Injection – Java tool for automatic SQL
- database injection
- BBQSQL – A blind SQL -injection exploitation tool
- NoSQLMap – automated NoSQL database pwnage
- Whitewidow – SQL vulnerability scanner
- DSSS – Damn small SQLi scanner
- Explo – Human and machine-readable web
- vulnerability testing format
- Blind-SQL-Bitshifting – Blind SQL-injection via
- bit-shifting
- Leviathan – Wide range mass audit toolkit
- Blisqy – Exploit Time-based blind-SQL-injection in
- HTTP-headers (MySQL/MariaDB)

## Linki do literatury


##



## Bot ktory generuje dobry ruch


<obrazkeprzejsc dla mszyny stanow moora/milliego>
- bot maskuje sie i symuluje kilku uzytkownikow na raz

## Analiza danych

- korelacja itp (metryki ktore analizujemy)